################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Health Groups/obj/Debug
/Health Groups/.vs/Health Groups/v16
